.docs-w-128 {
  width: 32rem;
}

.docs-min-h-4 {
  min-height: 1rem;
}

.docs-outline-none:focus {
  outline: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.es-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.es-progress-bar__gradient-animated {
  height: 3px;
  background: 
   lightgrey 
   linear-gradient(
    to right,
    yellow,
    #fd8d32,
    rgb(227, 75, 49),
    yellow,
    lightgrey 
  );
  background-size: 500%;
  animation: 2s linear infinite barprogress, 0.375s cubic-bezier(0.4, 0.0, 0.2, 1) grow, .3s fadein;
 }
 
 @keyframes barprogress {
  0% {
  background-position: 0% 0
  }
  to {
  background-position: 125% 0
  }
 }
 
 @keyframes grow {
   from { width: 0%; }
   to { width: 100%; }
 }
