<div class="es-editor-container">
  {{#if isBusy}}
    {{es-progress-bar}}
  {{/if}}
  <div class="es-editor-visualization">
    {{es-statechart-editor-error isError=isError}}
    {{#if canRenderEdges}}
      {{es-statechart statechart=_statechart previewMode=true}}
    {{/if}}
  </div>
  {{ember-ace
    value=value
    update=(action "updateConfig")
    class="es-config-editor"
    editorClass="es-config-editor__editor"
  }}
</div>
