<div class="es-editor-container">
  {{#if isBusy}}
    <div class="es-editor-container__busy-indicator">
      Busy!
    </div>
  {{/if}}
  <div class="es-editor-visualization">
    {{#if canRenderEdges}}
      {{es-statechart statechart=_statechart previewMode=true}}
    {{/if}}
  </div>
  {{ember-ace
    value=value
    update=(action "updateConfig")
    class="es-config-editor"
    editorClass="es-config-editor__editor"
  }}
</div>
