<div class="es-config-editor__error">
  {{#animated-container}}
    {{#animated-if isError use=transition}}
      <div class="es-config-editor__error__message">
        <p>There was an error with your statechart configuration.</p>
      </div>
    {{/animated-if}}
  {{/animated-container}}
</div>