<section ...attributes>
  <h1>
    Self-transition
  </h1>
  <button type='button' data-test-self-button {{on 'click' this.self}}>
    Self-transition
  </button>
  <div data-test-number-of-changes>
    {{this.numberOfChanges}}
  </div>
  <div data-test-context-count>
    {{this.count}}
  </div>
</section>