<section ...attributes>
  <h1>
    use-machine
  </h1>
  <button type='button' data-test-toggle-button {{on 'click' this.toggle}}>
    Toggle
  </button>
  <div data-test-content>
    {{#if this.isOn}}
      On
    {{/if}}
    {{#if this.isOff}}
      Off
    {{/if}}
  </div>
</section>