{{docs-hero
  logo="ember"
  slimHeading="My"
  strongHeading="Addon"
  byline="Statecharts for Ember.js applications."
}}
<div class="docs-container">
  <section class="docs-mt-4 docs-max-w-md docs-pb-6">
    {{ui-intro}}

    <div class="docs-mt-8 docs-flex docs-justify-end">
      {{#docs-link "docs"}}
        {{#ui-button}}
          Get started &rarr;
        {{/ui-button}}
      {{/docs-link}}
    </div>
  </section>
</div>