{{docs-hero
  logo="ember"
  slimHeading="My"
  strongHeading="Addon"
  byline="Statecharts for Ember.js applications."
}}
<div class="docs-container">
  <div class="docs--m-8 docs-py-16 docs-text-center">
    <div>
      <div class="aspect-ratio aspect-ratio--16x9">
        <iframe
          class="aspect-ratio--object"
          width="640"
          height="360"
          src="https://www.youtube.com/embed/g2GegNGgW84?start=17"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
  <section class="docs-mt-4 docs-max-w-md docs-pb-6">
    {{ui-intro}}

    <div class="docs-mt-8 docs-flex docs-justify-end">
      {{#docs-link "docs"}}
        {{#ui-button}}
          Get started &rarr;
        {{/ui-button}}
      {{/docs-link}}
    </div>
  </section>
</div>