<div ...attributes>
  <button
    type='button'
    class='inline-flex items-center px-3 py-2 border border-gray-700 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 focus:outline-none'
    {{on 'click' this.toggleToc}}
  >
    <svg
      class='w-6 h-6 mr-1'
      fill='none'
      stroke='currentColor'
      viewBox='0 0 24 24'
      xmlns='http://www.w3.org/2000/svg'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M4 6h16M4 12h8m-8 6h16'
      ></path>
    </svg>
    Content
  </button>
  {{#if this.showToc}}
    <div class='mt-2'>
      <DocsToc />
    </div>
  {{/if}}
</div>