<ul class='list-inside text-sm' ...attributes>
  <li class='font-medium'>
    <a
      href='/api-docs/index.html'
      target='_blank'
      rel='noopener noreferrer'
      class='flex items-center pb-2 hover:text-ember'
    >
      <svg
        class='w-4 h-4 mr-1'
        fill='none'
        stroke='currentColor'
        viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14'
        ></path>
      </svg>
      API Reference
    </a>
  </li>
  <li class='font-mono text-xs'>
    <a
      href='/api-docs/modules/usables_use_machine.html#default'
      target='_blank'
      rel='noopener noreferrer'
      class='block px-2 pb-2 border-l-2 hover:text-ember'
    >
      useMachine
    </a>
  </li>
  <li class='font-mono text-xs'>
    <a
      href='/api-docs/modules/index.html#matchesState'
      target='_blank'
      rel='noopener noreferrer'
      class='block px-2 pb-2 border-l-2 hover:text-ember'
    >
      matchesState
    </a>
  </li>
  <li class='font-mono text-xs'>
    <a
      href='/api-docs/modules/index.html#interpreterfor'
      target='_blank'
      rel='noopener noreferrer'
      class='block px-2 pb-2 border-l-2 hover:text-ember'
    >
      interpreterFor
    </a>
  </li>
</ul>
