@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.w-128 {
  width: 32rem;
}

.h-128 {
  height: 32rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.quote {
  @apply flex;
}
.quote:before {
  content: "";
}

.quote:after {
  content: "";
}

.fancy-underline {
  @apply inline-block relative

}
.fancy-underline::before {
  content: '';
  left: 50%;
  @apply bg-current absolute bottom-0 w-0 h-0.5 transform transition-all ease-in-out
}

.fancy-underline:hover::before {
  @apply w-full left-0
}

.text-underline-under {
  text-underline-position: under;
}

/* for easier styling of demo blocks - prism and prose will be overidden */
pre[class*="language-"] {
  margin: 0;
}
